@use "sass:map";
@import "../.res/colors.scss";
@import "../.res/variants.scss";

$modal_sizes: "file" 40vw -20vw, "standard" 50vw -25vw, "large" 80vw -40vw, "cover" 94vw -47vw;

@mixin sizesModal() {
    @each $nome, $width, $margin in $modal_sizes {
        &[size='#{$nome}'] {
            width: $width;
            margin-left: $margin;
        }
    }
}

div[obi-modal] {
    position: fixed;
    display: none;
    width: 50vw;
    max-height: 95vh;
    overflow: auto;
    border-radius: var(--global-radius);
    top: 24px;
    left: 50%;
    margin-left: -25vw;
    z-index: 10001;

    @include elevated();
    @include setSurface("container");
    @include sizesModal();

    &[display] {
        display: block;
    }

    & [modal-header] {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &[fixed] {
        & [modal-header] {
            display: none;
        }
    }

    @include media-breakpoint("lg", true) {
        width: 94vw !important;
        margin-left: -47vw !important;
    }
}

div[modal-focus] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: getColor($color: $neutral, $lightness: map.get($surface_light_set, "on_surface"), $alpha: 0.5);
    z-index: 10000;
}

@include darkmode() {
    div[obi-modal] {
        @include setSurface("container", true);

        &[focus] {
            &:before {
                background-color: getColor($color: $neutral, $alpha: 0.5);
            }
        }
    }

    div[modal-focus] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: getColor($color: $neutral, $lightness: map.get($surface_dark_set, "on_surface"), $alpha: 0.5);
        z-index: 10000;
    }
}