@import "dataset.scss";

@mixin setShadow($layer) {
    @if $layer>0 {
        box-shadow: $shadow_settings rgba(0, 0, 0, $layer);
        -moz-box-shadow: $shadow_settings rgba(0, 0, 0, $layer);
        -webkit-box-shadow: $shadow_settings rgba(0, 0, 0, $layer);

        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
        -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
        zoom: 1;
    }

    @else {

        box-shadow: $inset_shadow_settings rgba(0, 0, 0, .3);
        -moz-box-shadow: $inset_shadow_settings rgba(0, 0, 0, .3);
        -webkit-box-shadow: $inset_shadow_settings rgba(0, 0, 0, .3);
    }
}