@import "../.res/shadows.scss";
@import "../.res/colors.scss";
@import "../.res/variants.scss";
@import "../.res/animations.scss";
@import "../.res/loader.scss";

button[obi-button] {
    position: relative !important;
    overflow: hidden;
    display: flex;
    flex-grow: unset;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--global-radius); //20px/50%;
    padding: 0 24px;
    min-height: 40px;
    font-size: 1rem;
    border: unset;
    transition: box-shadow 150ms ease-in-out, filter 150ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: unset;
    color: unset;
    @include disabled();
    @include unprintable();

    @include relevance("light_container");
    @include variants();
    @include ripple();
    @include sizes();
    @include loader();
    @include skeleton();

    &:not([variant]),
    &:not([relevance]) {
        &:hover {
            @include setColor($neutral_alt);
        }
    }

    & [prepend] {
        padding: 8px;
        font-size: 18px;
    }

    & [append] {
        padding: 8px;
        font-size: 18px;
    }

    &:has([prepend]) {
        padding-left: 8px;
    }

    &:has([append]) {
        padding-right: 8px;
    }

    &:hover {
        filter: brightness(.95);
    }

    &[link] {
        background-color: unset;
        color: $info;


        &:active {
            text-decoration: underline;
        }
    }

    &[icon] {
        min-width: unset;
        border-radius: 50%;
        margin: 8px;
        padding: 0;

        & .material-icon {
            font-size: 24px !important;
        }

        height: 48px;
        width: 48px;
    }

    &[type='close'] {
        opacity: 0.7;
        color: unset !important;
    }

    &[type="toggle-theme"] {
        position: fixed;
        bottom: 0;
        right: 0;
        transition: background 400ms, box-shadow 150ms ease-in-out, filter 150ms ease-in-out, border-radius ease-in-out 200ms;
        z-index: $layer_2;
        @include elevated();

        &:active {
            border-radius: 50%;
        }
    }

    &[variant='outlined'] {
        border: solid 1px;
        @include relevance();
    }
}

@include darkmode() {
    & button[obi-button] {
        @include relevance("dark_container");

        &:not([variant]),
        &:not([relevance]) {
            &:hover {
                @include setColor($neutral_alt, "dark");
            }
        }

        &[variant='outlined'] {
            @include relevance("dark");
        }

        &[variant='filled'] {
            @include setColor($neutral, "dark");
        }

        &[variant='elevated'] {
            @include setSurface("container_highest", "dark");
        }

        &[link] {
            @include setColor($info);
            background-color: unset;
        }
    }
}