@import "../.res/dataset.scss";
@import "../.res/variants.scss";
@import "../.res/colors.scss";

div[obi-file] {
    @include disabled();

    & [file-droparea] {
        min-width: 252px;
        min-height: 60px;
        margin-bottom: 8px;
        border-radius: var(--global-radius);
        border-style: dashed !important;
        background-color: unset !important;
        border: 1px solid $neutral_alt;
        cursor: pointer;

        & [file-item] {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 8px;
            padding: 8px;
            border-radius: var(--global-radius);
            @include setSurface("dim");

            &>* {
                margin: 0 8px;
            }

            & [file-info] {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                & span {
                    &:first-child {
                        max-width: 200px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: inline;
                        text-wrap: nowrap;
                    }

                    &:last-child {
                        opacity: 60%;
                        font-size: small;
                    }
                }
            }

            & [obi-button] {
                height: 30px;
                width: 30px;
                min-height: unset;
                margin-left: 16px;
            }
        }

        & [placeholder] {
            position: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
            opacity: 40%;
            text-align: center;

        }

        &[fill] {
            border-style: solid !important;
        }
    }

    &[icon] {
        & [file-droparea] {
            position: absolute;
            display: none;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
            border: unset !important;

            & [placeholder] {
                display: none;
            }

            &[fill] {
                bottom: 100%;
                display: flex;
            }
        }
    }

    & input[type='file'] {
        display: none;
    }

}