@import "../.res/colors.scss";
@import "../.res/variants.scss";

span[obi-badge] {
    position: absolute;
    top: -8px;
    left: 50%;
    padding: 4px;
    border-radius: 8px;
    height: 16px;
    max-width: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    font-size: 11px;
    @include setColor("primary");
    @include sizes();

    &[dot] {
        top: 0;
        left: 60%;
        width: 6px;
        height: 6px;
        padding: 0;
        border-radius: 50%;
        color: transparent !important;

        & * {
            display: none;
        }
    }

    &>.material-symbols-outlined {
        font-size: 16px;
    }
}