@import "../.res/dataset.scss";
@import "../.res/variants.scss";

div[obi-icon] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: var(--global-radius);

    & .material-icons {
        font-size: .75em;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--global-radius);
    }

    &[circle] {
        border-radius: 50%;

        & img {
            border-radius: 50%;
        }
    }

    @include variants();
    @include sizes();
}