@import "../.res/variants.scss";

div[obi-title] {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    @include obi-font();
    @include sizes();

    & span:nth-child(1) {
        font-size: 1.2em;
        line-height: 1.5em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    & span:nth-child(2) {
        font-size: .8em;
        white-space: pre-line;
        filter: opacity(.6);
    }

}